@model Gallery.Models.User

@{
    ViewBag.Title = "Home Page";
}

@if (Session["IsAdmin"] != null)
{
    <div class="jumbotron">
        <h1>Admin Room</h1>
        <p class="lead">This is cabinet for administrators of this web site.</p>
    </div>
}
else if (Session["Name"] != null)
{
    <div class="jumbotron">
        <h1>Hello @Model.Name!</h1>
        <p class="lead">Welcome to the Gallery.</p>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <h2>My Albums</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="\Home\Index">Go &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>All Albums</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="\Home\Index">Go &raquo;</a></p>
    </div>
</div>